@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
/** Reset **/
html, body {
  margin: 0;
}

/** Tokens **/
/** Breakpoints **/
/** Colors **/
/** Fonts **/
/** Radius **/
@tailwind base;
@tailwind components;
@tailwind utilities;
/** Tailwind mixins, apply and extends **/
body {
  @apply antialiased;
}

.grid-main {
  @apply grid px-4 py-2 gap-x-4 gap-y-4 grid-cols-12;
}

@media only screen and (min-width: 768px) {
  .grid-main {
    @apply grid px-8 py-4 gap-x-4 gap-y-8 grid-cols-12;
  }
}
@media only screen and (min-width: 1280px) {
  .grid-main {
    @apply grid px-8 py-4 gap-4 grid-cols-12;
  }
}
.grid-sub {
  @apply grid grid-cols-12;
}

/** Base **/
body {
  background: #EFF0ED;
  font-family: "Inter", sans-serif;
}

p {
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 1.3;
  font-size: 1rem;
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  p {
    font-size: 1.5rem;
  }
}

p.small, .content-paragraph-small p {
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 1.3;
  font-size: 0.875rem;
}
@media only screen and (min-width: 1024px) {
  p.small, .content-paragraph-small p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  p.small, .content-paragraph-small p {
    font-size: 1.125rem;
  }
}

.h1 {
  font-weight: 600;
  letter-spacing: -0.08rem;
  line-height: 1.2;
  font-size: 1.875rem;
}
@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .h1 {
    font-size: 3rem;
  }
}

.h2 {
  font-weight: 600;
  letter-spacing: -0.08rem;
  line-height: 1.2;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1024px) {
  .h2 {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .h2 {
    font-size: 2.25rem;
  }
}

.h3 {
  font-weight: 600;
  letter-spacing: -0.08rem;
  line-height: 1.2;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1024px) {
  .h3 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .h3 {
    font-size: 1.5rem;
  }
}

.h4 {
  font-weight: 600;
  letter-spacing: -0.08rem;
  line-height: 1.2;
  font-size: 0.875rem;
}
@media only screen and (min-width: 1024px) {
  .h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .h4 {
    font-size: 1.125rem;
  }
}

.theme-white, .card-product {
  background: #FFF;
}
.theme-white > *, .card-product > * {
  color: #242423;
}

.theme-black {
  background: #242423;
}
.theme-black > * {
  color: #FFF;
}

.theme-orange {
  background: #FC9827;
}
.theme-orange > * {
  color: #FFF;
}

.theme-green {
  background: #72845E;
}
.theme-green > * {
  color: #FFF;
}

/** Header **/
.header-bar {
  background: #EFF0ED;
}

.footer a {
  color: #A3A3A1;
  font-size: 1rem;
}
.footer a:hover {
  color: #D9D9D9;
}
.footer p {
  color: #A3A3A1;
  font-size: 1rem;
}
.footer .footer-copyright p {
  color: #666666;
}

.header .logo {
  overflow: hidden;
  width: 74px;
}
.header .logo img {
  min-width: 160px;
}
@media only screen and (min-width: 768px) {
  .header .logo {
    overflow: hidden;
    width: 100%;
  }
  .header .logo img {
    min-width: 160px;
  }
}

/** Buttons **/
.button, .gform_wrapper.sgsform_wrapper button.gform_save_link.button, .gform_wrapper.sgsform_wrapper input.gform_button {
  align-items: center;
  border-radius: 0.625rem;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
}
@media only screen and (min-width: 1024px) {
  .button, .gform_wrapper.sgsform_wrapper button.gform_save_link.button, .gform_wrapper.sgsform_wrapper input.gform_button {
    gap: 20px;
  }
}

.button-label {
  font-weight: 600;
  letter-spacing: -0.04rem;
  line-height: 1;
  font-size: 1.125rem;
  white-space: nowrap;
}
@media only screen and (min-width: 1024px) {
  .button-label .button-label {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .button-label .button-label {
    font-size: 1.5rem;
  }
}

.button-arrow {
  align-items: center;
  background: #FFF;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
.button-arrow svg {
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 1024px) {
  .button-arrow {
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }
  .button-arrow svg {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .button-arrow {
    border-radius: 40px;
    height: 40px;
    width: 40px;
  }
}

/** Colors **/
.button-primary, .gform_wrapper.sgsform_wrapper input.gform_button {
  background: #FC9827;
  color: #FFF;
}
.button-primary:hover, .gform_wrapper.sgsform_wrapper input.gform_button:hover {
  background: #fc8c0e;
  color: #FFF;
}
.button-primary:hover .button-arrow, .gform_wrapper.sgsform_wrapper input.gform_button:hover .button-arrow {
  background: #FFF;
}
.button-primary:hover .button-arrow svg path, .gform_wrapper.sgsform_wrapper input.gform_button:hover .button-arrow svg path {
  fill: #242423;
}

.button-secondary {
  background: transparent;
  border: 1px solid #242423;
  color: #242423;
}
.button-secondary .button-arrow {
  background: #242423;
}
.button-secondary .button-arrow svg path {
  fill: #FFF;
}
.button-secondary:hover {
  background: #242423;
  color: #FFF;
}
.button-secondary:hover .button-arrow {
  background: #FFF;
}
.button-secondary:hover .button-arrow svg path {
  fill: #242423;
}

.button-tertiary {
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
}
.button-tertiary .button-arrow {
  background: #FFF;
}
.button-tertiary .button-arrow svg path {
  fill: #242423;
}
.button-tertiary:hover {
  background: #FFF;
  color: #242423;
}
.button-tertiary:hover .button-arrow {
  background: #242423;
}
.button-tertiary:hover .button-arrow svg path {
  fill: #FFF;
}

.button-text, .gform_wrapper.sgsform_wrapper button.gform_save_link.button {
  background: transparent;
  border: 0px;
  color: #242423;
  text-decoration: underline;
}
.button-text .button-arrow, .gform_wrapper.sgsform_wrapper button.gform_save_link.button .button-arrow {
  display: none;
}
.button-text:hover, .gform_wrapper.sgsform_wrapper button.gform_save_link.button:hover {
  background: transparent;
  color: #242423;
}
.button-text:hover .button-arrow, .gform_wrapper.sgsform_wrapper button.gform_save_link.button:hover .button-arrow {
  display: none;
}

/** Sizes **/
.button-small {
  padding: 5px 10px;
}
.button-small .button-arrow {
  height: 20px;
  min-width: 20px;
  width: 20px;
}
.button-small .button-arrow svg {
  width: 10px;
  height: 10px;
}
.button-small .button-label {
  font-size: 0.875rem;
}
@media only screen and (min-width: 1024px) {
  .button-small .button-label {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .button-small .button-label {
    font-size: 1rem;
  }
  .button-small .button-arrow {
    height: 20px;
    width: 20px;
  }
  .button-small .button-arrow svg {
    width: 10px;
    height: 10px;
  }
}

.nav a {
  color: #666666;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .nav a {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav a {
    font-size: 1rem;
  }
}
.nav a:hover {
  color: #242423;
}

.card-product {
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 100%;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .card-product {
    min-width: 296px;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .card-product {
    min-width: 296px;
    width: auto;
  }
}
.card-product:hover .card-product-bottom-container {
  height: 105%;
}

.slider .card-product {
  min-width: 206px;
  width: auto;
}
@media only screen and (min-width: 768px) {
  .slider .card-product {
    min-width: 296px;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .slider .card-product {
    min-width: 296px;
    width: auto;
  }
}

.card-product-top {
  padding: 20px 10px;
}
@media only screen and (min-width: 768px) {
  .card-product-top {
    padding: 40px 20px;
  }
}

.card-product-bottom {
  height: 200px;
  position: relative;
}

.card-product-bottom-container {
  border-radius: 0.625rem;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform-origin: bottom;
  transition: 200ms linear;
  width: 100%;
}
.card-product-bottom-container img {
  bottom: 0;
  position: absolute;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.tag {
  background: #EFF0ED;
  border-radius: 0.3125rem;
  display: inline-flex;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  padding: 5px 10px;
  text-transform: uppercase;
}

.slider {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider .pattern-card {
  width: 100%;
}

.slider::-webkit-scrollbar {
  display: none;
}

.photo-gallery img {
  border-radius: 0.625rem;
}

.hero-content {
  background: #FFF;
  border-radius: 0.625rem;
}

.hero-masonry-col img {
  border-radius: 0.625rem;
  object-fit: cover;
}

.hero-product img {
  height: 100%;
  width: 100%;
}
.hero-product .hero-masonry-col {
  width: 100%;
}

/** Content-Halves **/
.content-halves {
  gap: 0 !important;
  min-height: 340px;
}
.content-halves .content-halves-col:first-child {
  border-radius: 0.625rem 0.625rem 0 0;
}
.content-halves .content-halves-col:last-child {
  border-radius: 0 0 0.625rem 0.625rem;
}
@media only screen and (min-width: 768px) {
  .content-halves {
    min-height: 540px;
  }
  .content-halves .content-halves-col:first-child {
    border-radius: 0.625rem 0 0 0.625rem;
  }
  .content-halves .content-halves-col:last-child {
    border-radius: 0 0.625rem 0.625rem 0;
  }
}

/** Content-Full **/
.content-full .content-full-container {
  border-radius: 0.625rem;
  overflow: hidden;
}

/** Content Headers **/
.content-heading-bordered {
  border-bottom: 1px solid #A3A3A1;
}

/** Content Paragraph **/
.content-paragraph-small p {
  color: #666666;
  margin-bottom: 10px;
}
.content-paragraph-small p:last-child {
  margin-bottom: 0;
}

.gform_wrapper.sgsform_wrapper .gform_heading {
  display: none;
}
.gform_wrapper.sgsform_wrapper .gfield--type-section {
  margin: 0.625rem 0;
}
.gform_wrapper.sgsform_wrapper .gfield--type-section .gsection_title {
  font-size: 1.5rem;
  font-weight: 700;
}
.gform_wrapper.sgsform_wrapper .gfield--type-text, .gform_wrapper.sgsform_wrapper .gfield--type-email, .gform_wrapper.sgsform_wrapper .gfield--type-select, .gform_wrapper.sgsform_wrapper .gfield--type-number, .gform_wrapper.sgsform_wrapper .gfield--type-textarea {
  background: #f4f5f3;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}
.gform_wrapper.sgsform_wrapper .gfield--type-text .gfield_label, .gform_wrapper.sgsform_wrapper .gfield--type-email .gfield_label, .gform_wrapper.sgsform_wrapper .gfield--type-select .gfield_label, .gform_wrapper.sgsform_wrapper .gfield--type-number .gfield_label, .gform_wrapper.sgsform_wrapper .gfield--type-textarea .gfield_label {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container input.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container select.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container textarea.medium, .gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container input.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container select.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container textarea.medium, .gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container input.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container select.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container textarea.medium, .gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container input.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container select.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container textarea.medium, .gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container input.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container select.medium,
.gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container textarea.medium {
  background: transparent;
  border: 0;
  border-radius: 2px;
  color: #242423;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.3125rem 0;
  width: 100%;
}
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container input.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container select.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-text .ginput_container textarea.medium:focus, .gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container input.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container select.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-email .ginput_container textarea.medium:focus, .gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container input.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container select.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-select .ginput_container textarea.medium:focus, .gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container input.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container select.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-number .ginput_container textarea.medium:focus, .gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container input.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container select.medium:focus,
.gform_wrapper.sgsform_wrapper .gfield--type-textarea .ginput_container textarea.medium:focus {
  background: #e3e4df;
  outline: 1px solid #dee0da;
  padding: 0.3125rem 0.125rem;
}
.gform_wrapper.sgsform_wrapper button.gform_save_link.button svg {
  display: none !important;
}
.gform_wrapper.sgsform_wrapper div.gsection_description li {
  font-size: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
