/** Content CMS **/
  .content-cms {
    h1, h2, h3, h4, h5 {
      margin-bottom: $spacing-x1;
    }
    h1 {@extend .h1;}
    h2 {@extend .h2;}
    h3 {@extend .h3;}
    h4 {@extend .h4;}
    h5 {@extend .h5;}
    p {
      @extend .p;
      margin-bottom: $spacing-x1;
      font-size: $font-size-18 !important;
    }
    p + h1, p + h2, p + h3, p + h4, p + h5 {
      margin-top: $spacing-x4;
    }
  }

/** Content-Halves **/
  .content-halves {
    gap: 0 !important;
    min-height: 340px;
    .content-halves-col {
      &:first-child {
        border-radius: $radius-primary $radius-primary 0 0;
      }
      &:last-child {
        border-radius: 0 0 $radius-primary $radius-primary;
      }
    }
    @media only screen and (min-width: $bp-md) {
      min-height: 540px;
      .content-halves-col {
        &:first-child {
          border-radius: $radius-primary 0 0 $radius-primary;
        }
        &:last-child {
          border-radius: 0 $radius-primary $radius-primary 0;
        }
      }
    }
  }

/** Content-Full **/
  .content-full {
    .content-full-container {
      border-radius: $radius-primary;
      overflow: hidden;
    }
  }

/** Content Headers **/
  .content-heading-bordered {
    border-bottom: 1px solid $color-gray;
  }

/** Content Paragraph **/
  .content-paragraph-small p {
    @extend .small;
    color: $color-gray-dark;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }