.hero-content {
  background: $color-white;
  border-radius: $radius-primary;
}
.hero-masonry-col {
  img {
    border-radius: $radius-primary;
    object-fit: cover;
  }
}
.hero-product {
  @media only screen and (min-width: $bp-lg) {
    min-height: 700px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .hero-masonry-col {
    width: 100%;
  }
}