/** Buttons **/
  .button {
    align-items: center;
    border-radius: $radius-primary;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    @media only screen and (min-width: $bp-lg) {
      gap: 20px;
    }
  }
  .button-label {
    font-weight: 600;
    letter-spacing: -0.04rem;
    line-height: 1;
    font-size: $font-size-24;
    white-space: nowrap;
  }
  .button-arrow {
    align-items: center;
    background: $color-white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    svg {
      width: 15px;
      height: 15px;
    }
    @media only screen and (min-width: $bp-lg) {
      border-radius: 30px;
      height: 30px;
      width: 30px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    @media only screen and (min-width: $bp-xl) {
      border-radius: 40px;
      height: 40px;
      width: 40px;
    }
  }

  /** Colors **/
  .button-primary {
    background: $color-orange;
    color: $color-white;
    &:hover {
      background: darken($color-orange,5%);
      color: $color-white;
      .button-arrow {
        background: $color-white;
        svg path {
          fill: $color-black;
        }
      }
    }
  }
  .button-primary-b {
    background: $color-green;
    color: $color-white;
    &:hover {
      background: darken($color-green,5%);
      color: $color-white;
      .button-arrow {
        background: $color-white;
        svg path {
          fill: $color-black;
        }
      }
    }
  }
  .button-secondary {
    background: transparent;
    border: 1px solid $color-black;
    color: $color-black;
    .button-arrow {
      background: $color-black;
      svg path {
        fill: $color-white;
      }
    }
    &:hover {
      background: $color-black;
      color: $color-white;
      .button-arrow {
        background: $color-white;
        svg path {
          fill: $color-black;
        }
      }
    }
  }
  .button-tertiary {
    background: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    .button-arrow {
      background: $color-white;
      svg path {
        fill: $color-black;
      }
    }
    &:hover {
      background: $color-white;
      color: $color-black;
      .button-arrow {
        background: $color-black;
        svg path {
          fill: $color-white;
        }
      }
    }
  }
  .button-text {
    background: transparent;
    border: 0px;
    color: $color-black;
    text-decoration: underline;
    .button-arrow {
      display: none;
    }
    &:hover {
      background: transparent;
      color: $color-black;
      .button-arrow {
        display: none;
      }
    }
  }

  /** Sizes **/
  .button-small {
    padding: 5px 10px;
    
    .button-arrow {
      height: 20px;
      min-width: 20px;
      width: 20px;
      svg {
        width: 10px;
        height: 10px;
      }
    }
    .button-label {
      font-size: $font-size-16;
    }
    @media only screen and (min-width: $bp-xl) {
      .button-arrow {
        height: 20px;
        width: 20px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }