.nav {
  a {
    color: $color-gray-dark;
    font-size: $font-size-16;
    font-weight: 600;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    &:hover {
      color: $color-black;
    }
  }
}