.slider {
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  .pattern-card {
    width: 100%;
  }
  .card {
    width: 100%;
    max-width: 23%;
  }
}
.slider::-webkit-scrollbar {
  display: none;
}