.tag {
  background: $color-green-pale;
  border-radius: $radius-secondary;
  display: inline-flex;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  padding: 5px 10px;
  text-transform: uppercase;
}