/** Base **/
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    font-family: $font-primary;
  }

  p, .p {
    font-weight: 400;
    letter-spacing: -0.02rem;
    line-height: 1.4;
    font-size: $font-size-24;
  }
  p.small, .p-small {
    font-weight: 400;
    letter-spacing: -0.005rem;
    line-height: 1.3;
    font-size: $font-size-18;
  }

  h1, .h1 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: 1.2;
    font-size: $font-size-48;
  }
  h2, .h2 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: 1.2;
    font-size: $font-size-30;
  }
  h3, .h3 {
    font-weight: 600;
    letter-spacing: -0.02rem;
    line-height: 1.2;
    font-size: $font-size-24;
  }
  h4, .h4 {
    font-weight: 600;
    letter-spacing: -0.02rem;
    line-height: 1.2;
    font-size: $font-size-18;
  }
  h5, .h5 {
    font-weight: 600;
    letter-spacing: -0.02rem;
    line-height: 1.2;
    font-size: $font-size-16;
  }

  .theme-white {
    background: $color-white;
    & > * {
      color: $color-black;
    }
  }
  .theme-black {
    background: $color-black;
    & > * {
      color: $color-white;
    }
  }
  .theme-orange {
    background: $color-orange;
    & > * {
      color: $color-white;
    }
  }
  .theme-green {
    background: $color-green;
    & > * {
      color: $color-white;
    }
  }
  .theme-pale-green {
    background: darken($color-green-pale, 3%);
    & > * {
      color: $color-black;
    }
  }