/** Tokens **/
  
  /** Breakpoints **/
  $bp-sm: 640px;
  $bp-md: 768px;
  $bp-lg: 1024px;
  $bp-xl: 1280px;
  $bp-2xl: 1536px;

  /** Colors **/
  $color-white: #FFF;
  $color-gray-light: #D9D9D9;
  $color-gray: #A3A3A1;
  $color-gray-dark: #666666;
  $color-black: #242423;
  $color-green-pale: #EFF0ED;
  $color-orange: #FC9827;
  $color-green: #72845E;

  /** Fonts **/
  $font-primary: 'Inter', sans-serif;

  $font-size-12: 0.75rem;
  $font-size-14: 0.875rem;
  $font-size-16: 1rem;
  $font-size-18: 1.125rem;
  $font-size-20: 1.25rem;
  $font-size-24: 1.5rem;
  $font-size-30: 1.875rem;
  $font-size-36: 2.25rem;
  $font-size-48: 3rem;
  $font-size-60: 3.75rem;
  $font-size-72: 4.5rem;
  $font-size-96: 6rem;
  $font-size-128: 8rem;

  /** Radius **/
  $radius-primary: 0.625rem;
  $radius-secondary: 0.3125rem;